
           

            h1{
                margin: 40px 0 60px 0;
            }

            .dark-area {
                background-color: #666;
                padding: 40px;
                margin: 0 -40px 20px -40px;
                clear: both;
            }
			#chartContainer1
			{
				padding: 0px 0px;
				float:left;
				width: 75%; 
				height: 500px;
				display: inline-block;
			}
			#chartContainer2
			{
				float:right;
				width: 75%; 
				height: 500px;
				display: inline-block;
			}
			.btn-primary
			{
				border-radius:40px;	
			}
			
			.clearfix
			{
				float:left;
				width:60%;
			}
            .clearfix:before,.clearfix:after {content: " "; display: table;}
            .clearfix:after {clear: both;}
            .clearfix {*zoom: 1;}